@use '../../../scss/util/variables' as *;
@use '../../../scss/typography' as *;


.footer {
  padding-top: 40px;

  &__container-01 {
    display: flex;
    justify-content: space-between;
  }
  &__container-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 16px;
  }

  &__brand {
    display: flex;
    flex-flow: column nowrap;
  }
  &__logo {
    margin-bottom: 24px;
  }
  &__description {
    margin-bottom: 16px;
    max-width: 254px;
    line-height: 2;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 24px;

    &-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;

    }
  }
  &__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 130px;
  }

  &__table {
    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.45;
      color: $primary-b;
      margin-bottom: 32px;
    }
    &-menu {
      display: flex;
      flex-flow: column nowrap;
      gap: 16px;
    }
    &-item{}
    &-link {
      transition: 200ms;

      &:hover {
        color: $primary-a;
      }
    }
  }

  &__delimiter {
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(153, 153, 153, 0.56);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__term {
    &-link {
      transition: 200ms;
      text-underline-offset: 2px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


@media (max-width: $Dcontainer) {
  .footer {
    &__table {
      gap: 75px;
    }
  }
}

@media (max-width: $Dmedia-lg) {
  .footer {
    &__table {
      gap: 32px;

      &-title {
        margin-bottom: 20px;
      }
      &-menu {
        gap: 12px;
      }
    }
  }
}

@media (max-width: $Dmedia-md) {
  .footer {
    &__container-01 {
      flex-flow: column nowrap;
      align-items: left;
      gap: 32px;
    }

  }
}

@media (max-width: $Dmedia-sm) {
  .footer {
    padding-top: 40px;
    
    &__table {
      grid-template-columns: 1fr;
      gap: 20px;

      &-menu {
        flex-flow: row wrap;
      }
    }


    &__container-02 {
      flex-flow: column-reverse nowrap;
      margin-bottom: 24px;
    }

    &__copyright, &__term {
      text-align: center;
      text-wrap: balance;
    }

    &__delimiter {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    
  }

}
