
@use '../../../scss/util/variables' as *;

.card-plan {
  width: 370px;
  border: 1px solid rgb(102, 102, 102, 0.08);
  border-radius: 16px;
  padding-bottom: 24px;

  position: relative;
  
  &__link {
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  &__img {
    width: 100%;
    height: auto;
    // aspect-ratio: 1;
    border-radius: 16px;
    margin-bottom: 12px;
  }

  &__main-bar {
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    line-height: 1.333;
  }
  &__title {
    color: $primary-b;
  }
  &__price {
    font-size: 24px;
    font-weight: 600;
    color: $primary-a;
  }

  &__sub-bar {
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__trip {
    display: flex;
    gap: 14px;
    justify-content: between;
    align-items: center;

    &-img {
      width: 19px;
      height: auto;
    }
  }

  &__review {
    display: flex;
    align-items: center;
    gap: 8px;

    &-img {
      width: 14px;
      height: 14px;
    }
  }
  
}
