// colors
$header-txt: #17161a;

$primary-a: #fa7436;
$primary-a-strong: #ff631a;

$primary-b: #222222;

$secondary-a: #4086f4;
$secondary-b: #ffb60a;

$text-strong: #222222;
$text-strong-b: #444444;
$text-body: #666666;

$icon-a: #999999;
$icon-b: #e5e5e5;
$icon-brand: #fa7436;

$button-body: #fa7436;

$bg-brand: #fa7436;
$bg-milk: #fefcfb;
$bg-snow: #f7f8fc;
// colors END

// breakpoints
// mobile-first breakpoints
$media-xs: 360px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-2xl: 1400px;

// desktop-first breakpoints
$Dmedia-xs: 359.98px;
// $Dmedia-xs: 419.98px;
$Dmedia-sm: 575.98px;
$Dmedia-md: 767.98px;
$Dmedia-lg: 991.98px;
$Dmedia-xl: 1199.98px;
$Dmedia-2xl: 1399.98px;
// breakpoints END

// spacing
$space-0: 0;
$space-xxs: 8px;
$space-xs: 16px;
$space-sm: 24px;
$space-md: 32px;
$space-lg: 40px;
$space-xl: 48px;
$space-2xl: 56px;
$space-3xl: 64px;
$space-4xl: 120px;
// spacing END

// containers
// mobile-first
$container: 1170px;
// desktop-first
$Dcontainer: 1169.98px;


// block margin
$block-mb-2xl: 10;
$block-mb-xl: 10;
$block-mb-lg: 10;
$block-mb-md: 10;
$block-mb-sm: 10;

$block-mt-2xl: 120;
$block-mt-xl: 98;
$block-mt-lg: 76;
$block-mt-md: 54;
$block-mt-sm: 32;
