@use "../../../scss/typography" as *;
@use "../../../scss/util/variables" as *;

.promote-banner {
  width: 841px;
  padding-inline: 24px;
  padding-block: 32px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 80px 2px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__trigger-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
  }

  &__cell {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 10px;
  }

  &__trigger {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    cursor: pointer;

    &-label {
      line-height: 1.5;
      color: $primary-b;
    }

    &-icon {
      transition: all 200ms;
    }

    &.showed .promote-banner__trigger-icon {
      transform: rotate(180deg);
    }
  }

  &__text {
    line-height: 1.5;
  }

  &__inline-date {
    flex-shrink: 0;
    font-size: 12px;
    color: $text-body;
  }
}


@media (max-width: $Dmedia-lg) {
  .promote-banner {
    flex-flow: column nowrap;
    gap: 24px;
    width: auto;
    align-items: stretch;

    &__trigger-box {
      gap: 0;
      justify-content: space-evenly;
    }

    &__action-box {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $Dmedia-md) {
  .promote-banner {
    &__trigger-box {
      flex-flow: column nowrap;
      align-items: start;
      gap: 16px;
    }
    &__cell {
      flex-flow: row nowrap;
      align-items: center;
    }
    &__action-box {
      justify-content: start;
    }
  }
}
