@use "../../scss/typography" as *;
@use "../../scss/util/variables" as *;

.things-you-need-to-do {
  overflow: hidden;
  background-color: $bg-snow;
  padding: 120px 0;

  &__flies-couple {
    position: absolute;
    right: 50px;
    top: 0;
  }
  
  &__title {
    color: $primary-b;
    text-align: center;
    margin-bottom: 24px;
  }

  &__description {
    max-width: 482px;
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 64px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.text-brand {
  color: $primary-a;
}

@media (max-width: $Dcontainer) {
  .things-you-need-to-do {
    padding-top: 60px;
    padding-bottom: 60px;

    &__flies-couple {
      right: 17px;
    }
    
    &__description {
      margin-bottom: 48px;
    }
  }
}

@media (max-width: $Dmedia-lg) {
  .things-you-need-to-do {
    
    &__title {
      // font-size: 36px !important;
    }

    &__flies-couple {
      right: -37px;
      width: 137px;
      height: auto;
      
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }

    &__description {
      margin-bottom: 32px;
    }

    &__card-instruction {
      &:nth-child(3) {
        grid-column: 1 / 3;

        .card-instruction__decor {
          overflow: hidden;
        }
        .card-instruction__decor-elem {
          object-fit: contain;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media (max-width: $Dmedia-md) {
  .things-you-need-to-do {
    
    padding-top: 32px;
    padding-bottom: 32px;

    &__flies-couple {
      visibility: hidden;
      opacity: 0;
    }

    &__title {
      // font-size: 30px !important;
    }
    
    &__description {
      margin-bottom: 29px;
    }
    &__grid {
      grid-template-columns: 1fr;
    }

    &__card-instruction {
      &:nth-child(3) {
        grid-column: 1 / 2;

        .card-instruction__decor-elem {
          object-fit: cover;
          transform: rotate(0deg);
        }
      }
    }
  }
}
