#tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}

.learn-box {
  position: relative;
  background: rgb(255, 0, 0, 0.1);
  // padding: 100px;
  // margin: 50px;
}

.learn-tall {
  background-color: rgb(0, 128, 0, 0.2);
  height: 150vh;
}

#arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
