@use "../../scss/typography" as *;
@use "../../scss/util/variables" as *;


.what-people-say {
  background-color: $bg-snow;
  overflow: hidden;

  &__title {
    color: $primary-b;
  }
  &__description {
    margin-bottom: 2em;
  }
  
  &__container {
    position: relative;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__info {
    flex: 0 1 45%;
  }

  &__reviews {
    flex: 0 1 55%
  }

  &__flies {
    position: absolute;
    right: -70px;
    top: -100px;
  }

  &__swiper {
    width: 504px;
    height: 245px;
    overflow: visible;
  }

  &__slide {
    overflow: visible !important;

    &-inner {
      width: 100%;
      height: 100%;
    }

    
  }
}


@media (max-width: $Dmedia-lg) {
  .what-people-say {
    &__container {
      flex-flow: column nowrap;
    }

    &__nav {
      margin-bottom: 50px;
    }

    &__flies {
      top: -50px;
    }
  }
}

@media (max-width: $Dmedia-md) {
  .what-people-say {
    &__flies {
      display: none;
    }

    &__swiper {
      width: 100%;
      padding-inline: 10%;
      height: auto;
    }
    &__reviews {
      width: 100%;
    }
  }
}

@media (max-width: $Dmedia-sm) {
  .what-people-say {
    &__swiper {
      padding-inline: 4%;
    }
    &__nav {
      margin-bottom: 30px;
    }
  }
}
