@use "../../../scss/util/variables" as *;
@use "../../../scss/typography" as *;


.header {
  height: 114px;
  position: sticky;
  top: 0px;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu {
  }
  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $primary-b;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      .header__logo-img {
        transform: scale(1.25) rotate(-23deg);
      }
    }

    &-img {
      transition: 200ms;
    }

    &-title {
      font-family: $font-family-serif !important;
      font-weight: 700 !important;
    }
  }

  &__btn-container {
    display: flex;
    gap: 24px;
  }
}

.menu-nav {
  display: flex;
  gap: 12px;
  justify-content: center;

  &__link {
    padding: 6px 10px;
    transition: 200ms;
    color: $primary-b;
    border-radius: $space-xxs;

    &:hover {
      background-color: rgb(0, 0, 0, 0.07);
    }
  }
}

.burger {
  flex-shrink: 0;
  
  transition: 200ms;
  position: relative;
  z-index: 100;
  width: 42px;
  height: 30px;
  display: flex;
  cursor: pointer;
  // media change
  display: none;
  justify-content: space-between;

  flex-flow: column;
  // background-color: rgb(0, 0, 0, 0.1);

  &__stick {
    position: relative;
    transition: 200ms;
    width: 100%;
    height: 1.5px;
    background-color: $primary-b;
    
  }


  &.is-active {
    .burger__stick_01 {
      transform: rotate(45deg);
      transform-origin: left;
      left: 7px;
    }
    .burger__stick_02 {
      display: none;
    }
    .burger__stick_03 {
      transform: rotate(-45deg);
      transform-origin: left;
      left: 7px;
    }
  }
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: $Dmedia-lg) {
  .header {
    &__container {
      justify-content: space-between;
    }
    &__nav {
      display: none;
    }
    &__btn-container {
      position: relative;
      right: 50px;
    }
  }
  .burger {
    display: flex;
  }
}

@media (max-width: $Dmedia-sm) {
  .header {
    &__btn-container {
      right: 20px;
    }
  }
}
@media (max-width: 479px) {
  .header {
    &__btn-container {
      right: 0px;
      display: none;
    }
  }
}
